MONGO_URI=mongodb+srv://myusername:mypassword@cluster0.abcd1.mongodb.net/universityconnect?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=rtpt17
JWT_SECRET=your_jwt_secret_here
COLLEGE_DOMAIN=@vbithyd.ac.in
PORT=5000
